<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fuwu.mapper.InteractionMapper">

<resultMap id="interation" type="fuwu.po.Interaction">
    <result column="id" property="id"/>
    <result column="view_id" property="viewId"/>
    <result column="interaction_type" property="interactionType"/>
    <result column="interaction_position" property="interactionPosition"/>
    <result column="interaction_name" property="interactionName"/>

</resultMap>

    <select id="getInterationlistByViewId" resultMap="interation">
SELECT *
FROM interaction
WHERE
view_id=#{viewId}

    </select>

    <select id="getInterationById" resultMap="interation">
        SELECT *
        FROM interaction
        WHERE
        id=#{id}

    </select>


    <insert id="createInteraction" parameterType="fuwu.po.Interaction" useGeneratedKeys="true" keyProperty="id">
          INSERT INTO interaction
          (view_id,interaction_type,interaction_position,interaction_name)
          VALUES
          (#{viewId},#{interactionType},#{interactionPosition},#{interactionName})
    </insert>

    <delete id="deleteInteraction" parameterType="fuwu.po.Interaction">
        delete from
        interaction
        where
        id=#{id}
    </delete>

    <update id="updateInteraction" parameterType="fuwu.po.Interaction">
        update interaction
        <set>
            <if test="interactionType!=null">interaction_type=#{interactionType},</if>
            <if test="interactionPosition!=null">interaction_position=#{interactionPosition},</if>
            <if test="interactionName!=null">interaction_name=#{interactionName}</if>
        </set>
        where
        id=#{id}
    </update>
</mapper>