<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fuwu.mapper.ViewMapper">
    <resultMap id="view" type="fuwu.po.View">
        <result column="id" property="id"/>
        <result column="media_id" property="mediaId"/>
        <result column="view_mini_id" property="viewMiniId"/>
        <result column="view_type" property="viewType"/>
        <result column="view_info" property="viewInfo"/>
        <result column="view_name" property="viewName"/>
        <result column="create_time" property="viewCreateTime"/>
        <result column="update_time" property="viewUpdateTime"/>
        <result column="project_id" property="projectId"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <select id="getMainViewByProjectId" parameterType="Integer" resultMap="view">
        SELECT * FROM view
        WHERE  view_type=1 AND deleted=0 AND  project_id = #{projectId}
    </select>

    <select id="getViewByViewId" resultMap="view">
        select *
        from view
        where id = #{viewId}
        AND deleted=0
    </select>

    <insert id="createView" parameterType="fuwu.po.View" useGeneratedKeys="true" keyProperty="id">
          INSERT INTO view
          (media_id,view_type,view_info,view_name,project_id,deleted)
          VALUES
          (#{mediaId},#{viewType},#{viewInfo},#{viewName},#{projectId},0)
    </insert>

    <delete id="deletePhysically" parameterType="fuwu.po.View">
        delete from
        view
        where
        id=#{id}
    </delete>
    <update id="updateViewMiniId" parameterType="Integer">
        UPDATE view SET
        view_mini_id=#{viewMiniId}
        WHERE
        id=#{viewId}
    </update>
    <update id="cancelMainView" parameterType="Integer">
        update view set view_type = 0 WHERE view_type=1 AND project_id=#{projectId}
    </update>
    <update id="setMainView" parameterType="Integer">
        update view set  view_type=1  where id=#{viewId};
    </update>
    <select id="getViewListByProjectId" parameterType="Integer" resultMap="view">
        SELECT * FROM  view
        WHERE
        project_id=#{projectId}
    </select>
    <update id="deleteView" parameterType="Integer">
        UPDATE  view SET
        deleted=1
        WHERE
        id=#{viewId}
    </update>
</mapper>