<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="fuwu.mapper.ViewRelationMapper">
    <resultMap id="viewRelation" type="fuwu.po.ViewRelation">
        <result column="id" property="id"/>
        <result column="view_id" property="viewId"/>
        <result column="relation_view_id" property="relationViewId"/>
        <result column="view_relation" property="viewRelation"/>
        <result column="view_interaction_position" property="viewInteractionPosition"/>


    </resultMap>


    <resultMap id="viewRelationWithName" type="fuwu.bo.ViewRelationWithName">
        <result column="id" property="id"/>
        <result column="view_id" property="viewId"/>
        <result column="relation_view_id" property="relationViewId"/>
        <result column="view_relation" property="viewRelation"/>
        <result column="view_interaction_position" property="viewInteractionPosition"/>
        <result column="view_name" property="viewName"/>
        <result column="relation_view_name" property="relationViewName"/>


    </resultMap>

    <select id="getViewRelationListByViewId" resultMap="viewRelation">
        SELECT *
        FROM view_relation
        WHERE
        view_id=#{viewId}
        or
        relation_view_id=#{viewId}
    </select>

    <select id="getViewRelationListByProjectId" resultMap="viewRelationWithName">
        SELECT
        vr.*,
        v1.view_name view_name,
        v2.view_name relation_view_name
        FROM
        view_relation vr
        left join
        view v1
        on
        vr.view_id=v1.id
        left join view v2
        on
        vr.relation_view_id=v2.id
        where
        v1.project_id = #{projectId}
        and
        v2.project_id = #{projectId}

    </select>

    <insert id="createViewRelation" parameterType="fuwu.po.ViewRelation" useGeneratedKeys="true" keyProperty="id">
          INSERT INTO view_relation
          (view_id,view_relation,relation_view_id,view_interaction_position)
          VALUES
          (#{viewId},#{viewRelation},#{relationViewId},#{viewInteractionPosition})
    </insert>

    <delete id="deleteViewRelation">
        delete from
        view_relation
        where
        id=#{id}
    </delete>

</mapper>